body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: white;
}
.calculator{
    background: black;
    border: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    padding: 20px;
    width: 320px;
    border-radius: 20px;

    
}
.display{
    color: white;
    font-size: 48px;
    text-align: right;
    padding: 10px;
    margin-bottom: 20px;
    height: 60px;
    border-bottom: 1px solid #111 ;

}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
button{
    font-size: 24px;
    border: none;
    border-radius: 50%;
    padding:20px;
    background-color: rgb(40, 38, 38);
    color: white;
    cursor: pointer;
}
.btn-wide{
    grid-column: span 2 ;
    border-radius: 40px;
}
.grey{
    background-color: gray;
    color: black;
}
.orange{
    background-color: rgb(255, 140, 0);
}